body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#title {
    text-align: center;
}

#sub-title {
    text-align: center;
}

.voltar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.img {
    width: 550px;
}