body {
    font-family: Arial, sans-serif;
    background-color: rgb(18, 31, 59);
    margin: 0;
    padding: 20px;
    color: rgb(219, 231, 253);
}

#title {
    text-align: center;
}

#sub-title {
    text-align: center;
}

.voltar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.img {
    width: 550px;
}

#pages {
text-align: center;
}